[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=lupizdrik
Group=lupizdrik

WorkingDirectory=/home/lupizdrik/telebot/
Environment="PYTHONPATH=/home/lupizdrik/telebot/"
ExecStart=/home/lupizdrik/telebot/.venv/bin/python /home/lupizdrik/telebot/ubuntu18/bot.py

[Install]
WantedBy=multi-user.target